@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Andika New Basic', sans-serif;
}

body.dark-theme{
    background-color:#020024;
    color: white;
}

nav {
    font-family: 'Lato';
    transition: 1s;
}

.navbar-brand{
    font-family: 'Pacifico';
    font-size: 35px;
    color: lightcoral !important;
}

.nav-link{
    font-size: 16px;
    margin: 15px;
    color: black !important;
    font-family: 'Roboto Condensed';
}

body.dark-theme .nav-link{
    color: white !important;
}

.nav-link:hover{
    color: #00E8E8 !important;
}

body.dark-theme .nav-link:hover{
    color: #00E8E8 !important;
}  

.active .nav-link{
    color: #00E8E8 !important;
}

body.dark-theme .active .nav-link{
    color: #00E8E8 !important;
}

.menu-right-btn{
    padding: 13px 20px;
    margin-right: 4%;
    transition: all 300ms ease-in;
}

.menu-right-btn:hover{
    background: #00E8E8;;
}


/* Landing page */
.site-content{
    background-image: url('img/bg3.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.site-title{
    margin-top: 30%;
    margin-bottom: 6%;
    font-size: 45px;
    color: wheat;
}

.line-1{
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;   
    max-width: 430px;
}

/* Animation of welcome to Procode*/
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 1s steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.site-desc{
    font-size: 18px;
    text-align: center;
    color: wheat;
    width:430px;
}

.site-btn1{
    margin-left: 20%;
    background-color: black;
    color: white;
}

.site-btn2{
    background-color: white;
}

.site-btn1, .site-btn2{
    margin-top: 5%;
    margin-bottom: 5%;
}

.custom-control{
    font-size: 20px;
    color: white;
    margin-bottom: 40%;
}

.custom-switch .custom-control-label::before , .custom-switch .custom-control-label::after{
    margin-top: 5px;
}


/* Section 1 */

.section1 .heading-1{
    font-family: 'Patua One', cursive;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 30px;
}

.section1 .card-text{
    color: rgba(0, 0, 0, 0.59);
}

.section1{
    margin-bottom: 8%;
}

.card{
    width: 20rem;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* section 2 */

.section2 .container-fluid{
    background-image: url('img/sec2.jpg');
    background-attachment: fixed;
    background-size: cover;

}

.section2 .heading-1{
    margin-top: 20%;
    margin-bottom: 4%;
    font-family: 'Righteous';
    width: 80%;
    color: whitesmoke;
}

.section2 .para{
    width: 80%;
    font-family: 'Ubuntu';
    color: whitesmoke;
    margin-bottom: 7%;
}

.section2 .btn{
    margin-bottom: 15%;
    width: 30%;
    padding: 2% 5%;
}

/* section 3 */
.section3{
    margin-top: 6%;
    margin-bottom: 6%;
    text-align: center;
}

.section3 h1{
    font-family: 'Righteous';
}

.section3 .review{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    padding: 5px;
}

.section3 p{
    margin: 0;
}

.section3 .review-name{
    text-align: right ;
    margin-top: 10px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.59);
}

.section3 ol li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.59);
}

.section3 a{
    margin: 40px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 20px;
}



/* section 4 */
.section4{
    margin-top: 8%;
}

.section4 .row .col-md-7, .col-md-5{
    margin-top: 10%;
    margin-bottom: 10%;
}

.section4 a{
    color: lightseagreen;
    font-size: 40px;
    text-decoration: none;
}

.section4 .para-1{
    color: white;
    font-family: 'Roboto Condensed';
    margin-top: 7%;
    font-size: 23px;
}

/* footer */
.social i{
    color: #EF5651;
    font-size: 20px;
}

/* Code for responsiveness of the website */

@media (max-width: 1031px) and (min-width: 991px){

    header .nav-link{
        font-size: 14px;
    }
}

@media (max-width: 991px ) {
    .section1 .card{
        width: 400px;
        height: auto;
        margin: 20px auto;
    }
}

@media screen and (max-width: 325px){
    
    .row .justify-content-center .text-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .site-content .site-title{
        font-size: 30px;
        padding-left: 15%;
    }

    .site-content .site-btn2{
        display: none;
    }
    
    

    .site-content .site-btn1{
        margin-left: 15%;
    }

    .section1 .heading-1, .heading-2{
        font-size: 25px;
    }

    .section1 .col-md-4{
        padding: 5%;
        margin-left: 8%;
    }

    .section1 .card{
        width: 15rem;
        height: 550px;
    }

    .section4 .col-md-5{
        padding: 0% 15%;
    }

    footer input[type="button"]{
        margin-top: 5%;
    }
}

@media (max-width: 400px ) {
    .site-title{
        font-size: 37px;
    }

    .line-1{
        max-width: 93vw;
    }

    .site-desc{
        width: 95vw;
    }
}

/* Animation */

.service {
    opacity: 0;
    -webkit-transform: scale(0.9);
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                    transition: all 1s ease-in-out;
}
.service.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
